#btn{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-0{
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-1{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-2{
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-3{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-4{
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-5{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-6{
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-lg{
    background-color: black;
    color: white;
    width: 104px;
    height: 50px;
    border: none;
    border-radius: 25px;
    text-align: start;
    padding-left: 20px;
    font-size: large;
}
#btn-7{
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}
#btn-8{
    background-color: orange;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: large;
}

